body{
  background-color: #CAFAB9;
  width: 90%;
  max-width: 50em;
  margin: 0 auto;
  }

a {
  color: #FF5733;
}

a:hover,
a:focus {
  background-color: #FFC300;

}

@media (min-width: 60em) {
 main {
   overflow: hidden;
 }

#preptime {
  color: #DAF7A6;
  background-color: #581845;
  max-width: 30em;
  border-style: solid;
  text-decoration: none;
  border: 3em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 0;
  margin: 0;
  border-radius: .5em;
  text-align: center;
  margin: 0 auto;
}


#ingredients {
  margin-right: 4%;
  background-color: #FFC300;
  padding-top: 0em;
  float: left;
  width: 48%;
  margin-top: 1em;
}

nav {
  padding-top: 1.5em;
}
.back-to-top {
  color: #FF5733;
  clear: both;
}

#preparation {
  color: #581845;
  float: left;
  width: 48%;
}
nav h2 {
  margin: 0;
}
nav ul {
  list-style: none;
  padding-top: 0em;
  padding-left: 0;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  text-decoration: none;
  border: 1em;
  border: 1px solid #FFC300;
  border-radius: .3em;
}

h1 {
  border-width: 1px;
  border-style: solid;
  border-color: #581845;
  padding: .125em;
  color: #C70039;
  text-align: center;
  margin: 0 auto;

}

p {
  color: #581845;
}

ul {
  color: #581845;
  padding: 1em;
}


h2 {
   color: #FF5733
}

h3 {
  color: #FFC300;
  background-color: #C70039;
  display: inline-block;
  border-style: solid;
  text-decoration: none;
  border: 3em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 0;
  margin: 0;
  border-radius: .5em
}

h4 {
  color: #FF5733
}


#ingredients ul {
  list-style: disc;
  background: #FFC300;
  padding-left: 1em;
  border-radius: .3em
}

#ingredients li {
  line-height: 1.5;
  margin-top: .5em;
}

figure {
  text-align: center;
}

/* header figcaption {
  text-align: left;
} */
img {
  border-width: .125em;
  border-style: dotted;
  border-color: #581845;
}

h1{
  font-family: "Century Gothic";
  font-size: 80px
}

img {
  max-width: 100%
}

h5 {
  color: #C70039;
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 0;
}

/* ---- layout for wider width screen --*/

/* --- breakpoint --*/
@media (min-width: 60em) {


}
